body {  border-top:4px solid #000; /*background:url('/images/bg.png'); color:#333;*/ }

header { padding:40px 0 0; }

#branding h1 { text-align:center; }
#branding h1 a { display:inline-block; text-indent:-9999px; background:url('/images/logo.png') no-repeat; width:300px; height:166px; }

header { text-align: center; }
header ul { margin-top: 40px; }
header ul li { display: inline; }
header ul a { margin-right: 20px; font-size: 22px; text-transform: uppercase; }
header ul li:last-child a { margin-right: 0; }

footer { padding:20px; text-align:center; box-shadow:inset 0 0 1.5em rgba(0, 0, 0, .25); }
footer p { margin:0; }

section { padding:40px 0; }
section h2 { margin:0 0 40px; text-transform:uppercase; font-size:36px; font-weight:400; color:#DB332C; text-align: center; }
section p { font-size:18px; line-height:1.3; }
section p:last-child { margin-bottom:0; }

#schedule time { font-size:18px; font-weight:600; }
#schedule h3 { margin-bottom:18px; font-size:22px; font-weight:600; color:#3a4209; text-transform:uppercase; }
#schedule h4 { margin-bottom:9px; font-size:16px; line-height:18px; font-weight:600; color:#9e0b0f; text-transform:uppercase; }

#sponsors .list { text-align:center; margin-bottom:40px; }
#sponsors .sponsor { display:inline-block; width:240px; height:85px; margin:0 20px 0 0; }
#sponsors .sponsor-us { text-align:center; }
#sponsors .sponsor-us p { font-size:16px; margin:20px auto 0; }

#speakers .speaker { margin-bottom: 20px; }
#speakers .speaker:last-child { margin-bottom: 0px; }
#speakers .speaker h3 { font-size: 22px; }
#speakers .speaker h4 { font-size: 18px; }

header, #overview { background: #f7f7f7; }
#speakers { background: #efefd9; }
#overview { text-align: center; }
