<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en">
  <head>
    <meta charset="utf-8">
    <title>RubyShift 2012{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width = device-width, initial-scale = 1.0, maximum-scale = 1.0, minimum-scale = 1.0, user-scalable = no" name="viewport">
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href="../stylesheets/screen.css" rel="stylesheet">
  </head>
  <body>
    <header class="container">
      <div class="row">
        <div id="cfp-call-to-action" class="span3">
          <a href="http://bai.wufoo.com/forms/rubyshift-2012-speaking-proposals/">Call for Papers</a>
        </div>
        <div id="branding" class="span6">
          <h1><a href="http://rubyshift.org">RubyShift 2012</a></h1>
          <p>
            3rd annual<br>
            September 29th & 30th<br>
            Kiev, Ukraine
          </p>
        </div>
        <div id="reg-call-to-action" class="span3">
          <a href="http://www.eventbrite.com/event/2903984897">Buy Tickets</a>
        </div>
      </div>
    </header>
    <div role="main" id="main">
      {% for post in site.posts reversed %}
        <section id="{{ post.slug }}">
          <div class="container">
            {{ post.content }}
          </div>
        </section>
      {% endfor %}
    </div>
    <footer>
      <p>
        <a href="http://bit.ly/ADVJil">2010 photos</a>
        — <a href="http://www.youtube.com/playlist?list=PLE27F725514FA95F2">2011 videos</a>
        — <a href="mailto:contact@rubyshift.org">contact@rubyshift.org</a>
      </p>
      <p>
        Organized not-for-profit by
        <a href="http://twitter.com/_beai">_beai</a>,
        <a href="http://twitter.com/ifesdjeen">ifesdjeen</a>,
        <a href="http://twitter.com/mariya_o5">mariya_o5</a>,
        <a href="http://twitter.com/znatafka">znatafka</a>,
        <a href="http://twitter.com/avrutova">avrutova</a>
        in partnership with
        <a href="http://www.svitla.com/">Svitla Systems</a>
      </p>
    </footer>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24069519-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
